<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>FIT3140 First Application</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"> </script>

<!-- Material Design Lite -->
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<!-- Material Design icon font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">



</head>
<body style="background-color:black;text-align:center">
<div>
<div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/map">Map<span class="sr-only">(current)</span></a></li>
        <li><a href="/contact">Contact me</a></li>
      </ul>
</nav>
</div>
<br/>
<script>
function buttonclick1(){

    window.location.href='/map'
  }
</script>


<script>
function buttonclick2(){

    window.location.href='/load'
  }

</script>


<div class="jumbotron"> <p>


<center><img src="http://127.0.0.1:8887/static1.png" height="398" width="480" /></center>
</p>
<center>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" id = "confirm2"  onclick="buttonclick2()"> <!--change linkn to loading page-->
    Confirm Map
  </button>

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" id = "confirm1" onclick="buttonclick1()">
		Reselect Map
	</button>


</center>

</div>

</div>
</body>
</html>
