<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"> </script>


<script src="/jquery/dist/jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>


<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	 <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	 <!-- Material Design icon font -->
	 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/map">Map<span class="sr-only">(current)</span></a></li>

      </ul>
</nav>
</div>
  <br/>
  <div class="jumbotron">


    	<title>Map</title>
    	<style>
    #myMap {
       height: 455px;
       width: screen.width;;
    }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false">
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script>

		<script src="/socket.io/socket.io.js"></script>

    <script type="text/javascript">
		$(function(){
				var iosocket = io.connect();
								iosocket.on('connect', function () {
								console.log("connected");
							});
					//
					iosocket.on('message', function(message) {
								 $('#results').val(message);
					});
					//
					$('#confirm').click(function() {
								var email = $('#email').val();
								iosocket.send(["email",email,$('#results').val(),$('#latitude').val(),$('#longitude').val()]);

								});

		var map;
    var marker;
		var latt = -37.910524;
		var long = 145.136218;

		//initialising corner long/lat
		var c1Lng = long + 0.005675000000024966
		var c1Lat = latt + 0.00446099999999916

		var c2Lng = long + 0.005675000000024966
		var c2Lat = latt - 0.00446099999999916
		var c3Lng = long - 0.005675000000024966
		var c3Lat = latt + 0.00446099999999916
		var c4Lng = long - 0.005675000000024966
		var c4Lat = latt - 0.00446099999999916




    var myLatlng = new google.maps.LatLng(-37.910524,145.136218);
    var geocoder = new google.maps.Geocoder();
    var infowindow = new google.maps.InfoWindow();
    function initialize(){
    var mapOptions = {
    zoom: 14,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById("myMap"), mapOptions);
		var L1Coord = [
				 {lat: latt + 0.00446099999999916, lng:long + 0.005675000000024966},
				 {lat: latt - 0.00446099999999916, lng: long + 0.005675000000024966}
			 ];
			 var L1 = new google.maps.Polyline({
				 path: L1Coord,
				 geodesic: true,
				 strokeColor: '#FF0000',
				 strokeOpacity: 1.0,
				 strokeWeight: 4
			 });
			 L1.setMap(map);
			 //
			 var L2Coord = [
						{lat: latt + 0.00446099999999916, lng:long + 0.005675000000024966},
						{lat: latt + 0.00446099999999916, lng:long - 0.005675000000024966}
					];
					var L2 = new google.maps.Polyline({
						path: L2Coord,
						geodesic: true,
						strokeColor: '#FF0000',
						strokeOpacity: 1.0,
						strokeWeight: 4
					});
					L2.setMap(map);
					//
					var L3Coord = [
							 {lat: latt - 0.00446099999999916, lng:long + 0.005675000000024966},
							 {lat: latt - 0.00446099999999916, lng:long - 0.005675000000024966}
						 ];
						 var L3 = new google.maps.Polyline({
							 path: L3Coord,
							 geodesic: true,
							 strokeColor: '#FF0000',
							 strokeOpacity: 1.0,
							 strokeWeight: 4
						 });
						 L3.setMap(map);
						 //
						 var L4Coord = [
									{lat: latt + 0.00446099999999916, lng:long - 0.005675000000024966},
									{lat: latt - 0.00446099999999916, lng:long - 0.005675000000024966}
								];
								var L4 = new google.maps.Polyline({
									path: L4Coord,
									geodesic: true,
									strokeColor: '#FF0000',
									strokeOpacity: 1.0,
									strokeWeight: 4
								});
								L4.setMap(map);


    marker = new google.maps.Marker({
    map: map,
    position: myLatlng,
    draggable: true
    });

    geocoder.geocode({'latLng': myLatlng }, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
    if (results[0]) {
    $('#latitude,#longitude').show();
    $('#address').val(results[0].formatted_address);
    $('#latitude').val(marker.getPosition().lat());
    $('#longitude').val(marker.getPosition().lng());
		lat = marker.getPosition().lat();
		long = marker.getPosition().lng();

    infowindow.setContent(results[0].formatted_address);
    infowindow.open(map, marker);
    }
    }
    });




    google.maps.event.addListener(marker, 'dragend', function() {
    geocoder.geocode({'latLng': marker.getPosition()}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
    if (results[0]) {
    $('#address').val(results[0].formatted_address);
    $('#latitude').val(marker.getPosition().lat());
    $('#longitude').val(marker.getPosition().lng());
		lat = marker.getPosition().lat();
		long = marker.getPosition().lng();
		latt = marker.getPosition().lat();
		iosocket.send([lat,long]);
    console.log([marker.getPosition().lat(),marker.getPosition().lng()]);
    infowindow.setContent(results[0].formatted_address);
    infowindow.open(map, marker);
		console.log(lat)
		 L1Coord = [
				 {lat: latt + 0.00446099999999916, lng:long + 0.005675000000024966},
				 {lat: latt - 0.00446099999999916, lng: long + 0.005675000000024966}
			 ];
			  L1 = new google.maps.Polyline({
				 path: L1Coord,
				 geodesic: true,
				 strokeColor: '#FF0000',
				 strokeOpacity: 1.0,
				 strokeWeight: 4
			 });
			 L1.setMap(map);
			 //
			  L2Coord = [
						{lat: latt + 0.00446099999999916, lng:long + 0.005675000000024966},
						{lat: latt + 0.00446099999999916, lng:long - 0.005675000000024966}
					];
					 L2 = new google.maps.Polyline({
						path: L2Coord,
						geodesic: true,
						strokeColor: '#FF0000',
						strokeOpacity: 1.0,
						strokeWeight: 4
					});
					L2.setMap(map);
					//
					 L3Coord = [
							 {lat: latt - 0.00446099999999916, lng:long + 0.005675000000024966},
							 {lat: latt - 0.00446099999999916, lng:long - 0.005675000000024966}
						 ];
						  L3 = new google.maps.Polyline({
							 path: L3Coord,
							 geodesic: true,
							 strokeColor: '#FF0000',
							 strokeOpacity: 1.0,
							 strokeWeight: 4
						 });
						 L3.setMap(map);
						 //
						  L4Coord = [
									{lat: latt + 0.00446099999999916, lng:long - 0.005675000000024966},
									{lat: latt - 0.00446099999999916, lng:long - 0.005675000000024966}
								];
								 L4 = new google.maps.Polyline({
									path: L4Coord,
									geodesic: true,
									strokeColor: '#FF0000',
									strokeOpacity: 1.0,
									strokeWeight: 4
								});
								L4.setMap(map);




    }
    }
    });
    });
		google.maps.event.addListener(marker, 'dragstart', function() {
		L1.setMap(null);
		L2.setMap(null);
		L3.setMap(null);
		L4.setMap(null);
		console.log('dragged');
		$('#results').val("Calculating");
		});

    }
    google.maps.event.addDomListener(window, 'load', initialize);


			 });
		</script>




    <div id="myMap"></div>
    <input id="address" type="text" style="width:600px;"/><br/>
    <input type="text" id="latitude" placeholder="Latitude"/>
    <input type="text" id="longitude" placeholder="Longitude"/>

  </p>
	<!-- Colored raised button -->


						 Area:
	<input type="text" id="results" placeholder="area not calculated" align="middle"/>
			<P>
			<font size="3">Put your email below, if you would like to be mailed the results of your last query</font>
			<p>
			<input type="text" id="email" placeholder="put your email in here:" align="middle"/>
			<!-- Colored raised button -->
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" id = "confirm">
	Email me results
</button>
</div>
  </div>
</body>
</html>
